/* Styling the products display */ 
/* Body styling */  
body {
    width:800px; margin: 0 auto;
    background-image: url(https://dport96.github.io/ITM352/morea/030.ui-basics/phone_globe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /*background adjustments*/
}
div { 
    border: 5px solid black;
    display: flex;
    /*display and border adjusments*/
}
img {
    width: 200px; height: 200px
    /*Image Adjustments*/
}
h1{
    text-align:center;
    /*text adjustments*/
}
h2{
    text-align:center;
    /*text adjustments*/
}
main {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /*display adjustments*/
}
